/*Banner*/
.banner{
    z-index: 1;
    background-image: url(IMG/Banner-1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .efeito-text-topo{
    visibility: hidden;
  }

  .banner h1,h2{
    color: #16161a;
    margin-left: 50px;
    font-size: 40px;
  }
  
  .banner h2{
    margin-left: 80px;
  }
  .banner span{
    color: #488BE8;
  }
  
  .banner button{
    margin-left: 25vh;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: #488BE8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  
  .banner button:hover{
    transform: scale(1.2);
  }
  
  .banner button a{
    text-decoration: none;
    color: #e4e4e4;
    font-size: 1.1rem;
    font-weight: 400px;
  }
  
  @media screen and (max-width: 768px){
    .banner{
      background-repeat: no-repeat;
      background-position-x: -300px;
    }
  
    .banner h1,h2{
      font-size: 40px;
    }
  
    .banner h1{
      margin-top: 20vh;
    }
  
    .banner button{
      width: 300px;
      height: 50px;
      font-size: 5px;
      margin-left: 15vh;
    }
  }
  
  @media screen and (max-width: 400px){
    .banner{
      background-repeat: no-repeat;
      background-position-x: -600px;
    }
  
    .banner h1{
      font-size: 25px;
    }

    .banner h2{
      font-size: 25px;
      margin-left: 30px;
    }
  
    .banner h1{
      margin-top: 20vh;
    }
  
    .banner button{
      width: 300px;
      height: 50px;
      font-size: 5px;
      margin-left: 7vh;
    }
  }

/*Caixas*/
.feature-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
}

.box {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.123);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #488be88e;
  transition: .3s all ease-in-out;
}

.box:hover{
  transform: scale(1.1);
  border: 3px solid #488be88e;
  cursor: default;
}

.box i {
  font-size: 50px;
  color: #488BE8;
  cursor: default;
}

.box h4 {
  font-size: 18px;
  margin-top: 15px;
  color: #333;
  cursor: default;
}

.box p {
  font-size: 14px;
  color: #666;
  cursor: default;
}

@media screen and (max-width:768px) {
  .feature-box{
    display: flex;
    flex-direction: column;
  }

  .box{
    width: 70%;
    margin-left: 17%;
  }
}

/*Passo a passo*/
.steps{
height: 400px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-bottom: 20px;
}

.step {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 120px;
margin-top: 20px;
text-align: center;
}

.step .circle {
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #488BE8; 
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;
}

.step:nth-child(2){
  width: 400px;
  height: 400px;
}

.step h3 {
font-size: 22px;
color: #333;
margin: 10px 0;
}

.step p {
font-size: 16px;
color: #666;
max-width: 280px;
margin: 0 auto;
}

.efeito-circle{
  visibility: hidden;
}

.efeito-circle-2{
  visibility: hidden;
}

@media screen and (max-width:768px) {
  .steps{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160vh;
    left: 70px;
    gap: 30px;
  }
}

@media screen and (max-width:400px) {
  .steps{
    display: none;
  }
}

/*Rodapé*/
footer{
  background-color: red;
  height: 250px;
}

.infor{
  display: flex;
  justify-content: end;
  position: absolute;
  
}

@media screen and (max-width:768px) {
  footer{
    position: absolute;
    top: 245vh;
    width: 100%;
  }
}

@media screen and (max-width:400px) {
  footer{
    position: absolute;
    top: 170vh;
  }
}