/*Configurações básicas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/*Menu principal*/
header{
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: 1s all ease-in-out;
  padding: 1.5rem 6rem;
  z-index: 9999;
}

header.roll{
  background-color: #787881;
  padding: 1rem 6rem;
}

header.roll a{
  color: #e4e4e4;
}

.menu{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
  height: 70px;
  margin-top: 0;
}

@media screen and (max-width: 400px){
  .logo img{
    position: absolute;
    left: 50px;
  }

  .resp-but{
    margin-left:140px;
  }
}

.items{
  display: flex;
  align-items: center;
  color: #212121;
}

.items ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  margin: 0 15px;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.nav-item:hover{
  transform: scale(1.1);
}

.link{
  text-decoration: none;
  font-size: 1.15rem;
  color: #212121;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
}

.link:hover{
  background-color: #488BE8;
  padding: 10px;
  border-radius: 5px;
  color: #e4e4e4;
}

.cad-log button{
  border: none;
  background-color: #488BE8;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
  margin-top: 10px;
}

.cad-log button:nth-child(2){
  margin-left: 1rem;
}

.cad-log button:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 3px 5px #488BE8;
}

.cad-log button a{
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 500;
  font-size: 1.1rem;

}

.perf img{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.perf ul{
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #787881;
  border-radius: 10px;
  position: absolute;
  left: 160vh;
  padding: 30px;
}

.perf ul.apar{
  display: flex;
}

.perf ul a{
  text-decoration: none;
  color: #e4e4e4;
}

.perf img:hover{
  transform: scale(1.1);
}


.perf .cont-list{
  display: none;
}

.perf .cont-list.most{
  display: block;
  background-color: #787881;
  list-style: none;
  position: absolute;
  left: 165vh;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.perf .cont-list.most a{
  color: #e4e4e4;
  text-decoration: none;
}

.perf .cont-list.most li{
  transition: .2s all ease-in-out;
  text-align: center;
  margin-bottom: 20px;
}

.perf .cont-list.most li:hover{
  transform: scale(1.1);
  background-color: #488BE8;
  border-radius: 5px;
  padding: 5px;
}

.perf .cont-list.most .term{
  text-decoration: underline;
  transition: .2s all ease-in-out;
}

.perf .cont-list.most .term:hover{
  color: #488BE8;
  transform: scale(1.1);
}

.resp-but{
  display: none;
}

.resp{
  display: none;
}

@media screen and (max-width:768px) {
  header{
    width: 100%;
  }

  .menu{
    padding: 1.5rem 4rem;
  }

  .items{
    display: none;
  }

  .cad-log{
    display: none;
  }

  .perf{
    display: none;
  }

  .resp-but{
    display: block;
  }

  .resp{
    background-color: #787881;
    border-radius: 10px;
  }

  .resp .perf{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .resp .perf img{
    margin-bottom: 20px;
  }

  .resp ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .resp .nav-item{
    display: block;
    padding-top: 1.2rem;
  }

  .resp .nav-item a{
    display: block;
    padding-top: 1.2rem;
    color: white;
  }


  .resp .cad-log{
    display: block;
    padding: 1rem 2rem;
  }

  .resp .cad-log button{
    width: 100%;
  }

  .resp .cad-log button:nth-child(1){
    margin-bottom: 1rem;
  }

  .resp .cad-log button:nth-child(2){
    margin-left: 0rem;
  }

  .abrir{
    display: block;
  }
}


/*Botão menu*/
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #488BE8;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
  #checkbox:checked + .toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }