/*Configurações básicas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Menu principal*/
header{
    display: flex;
    justify-content: center;
}
header .menu{
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 800px;
    height: 60px;
    border: 2px solid lightgray;
    border-radius: 15px;
    top: 25px;
    z-index: 99;
}

.menu .menu-items li a{
    list-style: none;
    color: #212121;
    text-decoration: none;
}

.menu li:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
}

.menu li a:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
    color: #488BE8;
}

.menu .menu-items li a::after{
    content: "";
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: bottom right;
    background-color: #488BE8;
    transition: 0.2s ease-out;
} 

.menu .menu-items li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .menu-items{
    display: flex;
    gap: 20px;
    list-style: none;
}

.conta.active-2{
    transform: scale(1.2);
}

.menu .menu-2{
    display: none;
}

.menu .conta.active-2 a{
    color: #488BE8;
}

.menu .conta.active-2::after{
    content: "";
    position: absolute;
    transform: scaleX(1);
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: bottom right;
    background-color: #488BE8;
    transition: 0.2s ease-out;
}

.menu .menu-2.active{
    transition: 0.5s all ease-in;
    display: block;
    list-style: none;
    position: absolute;
    top: 38px;
    left: -35px;
    background-color: #e4e4e4;
    padding: 10px;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.menu .menu-2.active a{
    color: #e4e4e4;
}

.menu .menu-2.active a:hover{
    color: #488BE8;
}

.menu .toggle{
    display: none;
}

/* Barra de pesquisa*/
  .white,
  .border,
  .darkBorderBg,
  .glow {
    max-height: 40px;
    max-width: 314px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    /* Border Radius */
    border-radius: 12px;
    filter: blur(3px);
  }
  .input {
    background-color: #e4e4e4;
    border: none;
    /* padding:7px; */
    width: 201px;
    height: 36px;
    border-radius: 10px;
    color: #212121;
    padding-inline: 59px;
    font-size: 15px;
  }

  .input::placeholder {
    color: #1c191c;
  }
  
  .input:focus {
    outline: none;
  }
  
  #main:focus-within > #input-mask {
    display: none;
  }
  
  #input-mask {
    pointer-events: none;
    width: 150px;
    height: 30px;
    position: absolute;
    background: linear-gradient(90deg, transparent, #e4e4e4);
    top: 5px;
    left: 20px;
  }

  #main:hover > #pink-mask {
    animation: rotate 4s linear infinite;
    opacity: 0;
  }
  
  .white {
    max-height: 33px;
    max-width: 207px;
    border-radius: 10px;
    filter: blur(2px);
  }
  
  .white::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    animation: rotate 4s linear infinite;
    transition: all 2s;
  }
  .border {
    max-height: 39px;
    max-width: 203px;
    border-radius: 11px;
    filter: blur(0.5px);
  }
  .border::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 300px;
    height: 300px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      #1c191c,
      #488BE8 5%,
      #1c191c 14%,
      #1c191c 50%,
      #488BE8 60%,
      #1c191c 64%
    );
    animation: rotate 4s 0.1s linear infinite;
    transition: all 2s;
  }
  .darkBorderBg {
    max-height: 35px;
    max-width: 212px;
  }
  .darkBorderBg::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: all 2s;
  }
 
  .glow {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 30px;
    max-width: 254px;
  }
  
  #main {
    position: relative;
  }
  #search-icon {
    position: absolute;
    left: 20px;
    top: 5px;
  }
  
/*Botão menu*/
/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: lightgray;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
  #checkbox:checked + .toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
/*Banner*/

#banner{
    height: 70vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(IMG/Banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
  position: absolute;
  top: 25vh;
  font-size: 40px;
  color: #212121;
}

.banner p:nth-child(1){
  margin-left: 155px;
}

.banner p:nth-child(2){
  margin-left: 165px;
}

.banner p:nth-child(2) span{
  color: #488BE8;
  text-transform: uppercase;
}

.banner button{
  height: 80px;
  width: 300px;
  margin-top: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #488BE8;
  margin-left: 30vh;
  background-color: transparent;
  font-size: 20px;
  backdrop-filter: blur(25px);
}

.banner button a{
  text-decoration: none;
  color: #212121;
}

.banner button:hover{
  background-color: #488BE8   ;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 80px #488BE8;
}
