/*Passo a Passo*/

#passo{
    position: absolute;
    top: 68vh;
    z-index: 2;
}

.passo p:nth-child(1){
    font-size: 40px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #488BE8;
    border-top: 2px solid #317ce4;
    border-bottom: 2px solid #317ce4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #e4e4ee;
}

.pass-1{
    display: flex;
    margin-top: 30px;
}

.pass-1 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 65vh;
}

.pass-1 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

.pass-2{
    display: flex;
    margin-top: 30px;
}

.pass-2 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 75vh;
}

.pass-2 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

.pass-3{
    display: flex;
    margin-top: 30px;
    width: 204.8vh;
}

.pass-3 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 85vh;
}

.pass-3 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

