/*Áreas de trabalho*/

#area{
position: absolute;
top: 70%;
left: 50%;
transform: translateX(-50%);
height: 500px;
width: 100%;
}

.tit{
    font-size: 40px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

body.dark .tit{
    color: #e4e4e4;
}

.areas-1,
.areas-2,
.areas-3{
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}

.areas-1{
    background-image: url(IMG/saúde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.areas-1 p{
    font-size: 40px;
    margin-top: 27vh;
    color: #488BE8;
    
}

.areas-1:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
    border: 4px solid #488BE8;
    color: #488BE8;
    background-image: url(IMG/Saúde-Ef.jpg);
}

.areas-2{
    background-image: url(IMG/educação.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.areas-2 p{
    font-size: 40px;
    margin-top: 27vh;
    color: #488BE8;
}

.areas-2:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
    border: 4px solid #488BE8;
    color: #488BE8;
    background-image: url(IMG/Educação-Ef.png);
}

.areas-3{
    background-image: url(IMG/tecnologia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.areas-3 p{
    font-size: 40px;
    margin-top: 27vh;
    color: #488BE8;
}

.areas-3:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
    border: 4px solid #488BE8;
    color: #488BE8;
    background-image: url(IMG/Tecnologia-Ef.jpg);
}

.areas-2,
.areas-3{
    margin-left: 20px;
}

.areas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*Passo a Passo*/
#passo{
    position: absolute;
    top: 135vh;
    z-index: 2;
}

body.dark .passo p:nth-child(1){
    color: #e4e4e4;
}

.passo p:nth-child(1){
    font-size: 40px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    color: #212121;
    margin-top: 20px;
}

.pass-1{
    display: flex;
    margin-top: 30px;
}

.pass-1 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 65vh;
}

.pass-1 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

.pass-2{
    display: flex;
    margin-top: 30px;
}

.pass-2 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 75vh;
}

.pass-2 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

.pass-3{
    display: flex;
    margin-top: 30px;
    width: 204.8vh;
}

.pass-3 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #488BE8;
    box-shadow: 0 0 5px #212121;
    margin-left: 85vh;
}

.pass-3 p{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
}

/*Rodapé*/
body.dark footer .Candidatos a{
    color: #e4e4e4;
}

body.dark footer .Candidatos a:hover{
    color: #488BE8;
}

body.dark footer .Empresa a{
    color: #e4e4e4;
}

body.dark footer .Empresa a:hover{
    color: #488BE8;
}

footer{
    position: absolute;
    top: 250vh;
    height: 400px;
    width: 100%;
    border-top: 4px solid #488BE8;
}

footer .Candidatos p:nth-child(1){
    position: absolute;
    top: 50px;
    font-size: 25px;
    left: 40px;
}

footer .Candidatos a:nth-child(2){
    position: absolute;
    top: 90px;
    left: 50px;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in;
}

footer .Candidatos a:nth-child(3){
    position: absolute;
    top: 120px;
    left: 50px;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in;
}

footer .Candidatos a:nth-child(4){
    position: absolute;
    top: 150px;
    left: 50px;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in;
}

footer .Empresa p:nth-child(1){
    position: absolute;
    top: 50px;
    font-size: 25px;
    left: 300px;
}

footer .Empresa a:nth-child(2){
    position: absolute;
    top: 90px;
    left: 310px;
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in;
}

footer .Empresa a:hover{
    color: #488BE8;
    transform: scale(1.2);
}

footer .Candidatos a:hover{
    color: #488BE8;
    transform: scale(1.2);
}

footer .inf p:nth-child(1){
    position: absolute;
    top: 45vh;
    left: 10px;
}

footer .inf p:nth-child(2){
    position: absolute;
    top: 45vh;
    left: 50vh;
}

footer .inf a{
    position: absolute;
    top: 45vh;
    left: 100vh;
    color: #488BE8;
}